<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="jquery/dist/jquery.js"></script>
	<script src="javascripts/main.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/icons.css">
	<script type="text/javascript" src="instafeed.js/instafeed.min.js"></script>
</head>
<body>
	<div class="container1">
		<h1>Welcome</h1>
		<select id="select-locations">
		<% locations.forEach(function(location){ %>
			<option value="<%= location.id %>" <%= randoId === location.id ? 'selected' : '' %>><%= location.name%></option>
		<%})%>
		</select>
		<button id="entry" type="button">Submit</button>
		<div class="ajax1">
			<h3>Wave Height</h3>
			<h2><%= results[0].swell.minBreakingHeight %>-<%= results[0].swell.maxBreakingHeight %>ft</h2>
			<h3>Local Weather</h3> 
			<div class="msw-sw msw-sw-<%= results[0].condition.weather %>"></div>
			<h3>Local Swell Direction</h3>
			<h4><%= results[0].swell.components.combined.direction %>&deg</h4>
			<div class="msw-swa msw-swa-<%= swellDirection %>"></div>
			<h3>Local Wind Direction</h3>
			<h4><%= results[0].wind.compassDirection %></h4>
			<div class="msw-ssa msq-ssa-<%= results[0].wind.direction %>"></div>
			<div class="chartContainer">
				<h3>Charts</h3>
				<img class="chart" src="<%=results[0].charts.swell %>">
				<img class="chart" src="<%=results[0].charts.wind %>">
		</div>
		</div>
		<!-- <a href="http://magicseaweed.com" target="_blank"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a> -->
	</div>

	<div id="instafeed"></div>


	<script type="text/javascript">
	    var feed = new Instafeed({
	        get: 'tagged',
	        tagName: 'awesome',
	        clientId: 'process.env.INSTAGRAM_KEY'
	    });
	    feed.run();
	</script>

</body>
</html>