<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../jquery/dist/jquery.js"></script>
	<script src="../javascripts/main.js"></script>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/icons.css">
</head>
<body>
	<h1>Surf Forcast for </h1>
	<h3>Wave Height</h3>
	<h2><%= results[0].swell.minBreakingHeight %>-<%= results[0].swell.maxBreakingHeight %>ft</h2>
	<h3>Charts</h3>
	<img class="chart" src="<%=results[0].charts.swell %>">
	<img class="chart" src="<%=results[0].charts.wind %>">
	<h3>Local Weather</h3>
	<div class="msw-sw msw-sw-<%= results[0].condition.weather %>"></div>
	<h3>Local Swell Direction</h3>
	<h4><%= results[0].swell.components.combined.direction %>&deg</h4>
	<div class="msw-swa msw-swa-<%= swellDirection %>"></div>
	<h3>Local Wind Direction</h3>
	<h4><%= results[0].wind.compassDirection %></h4>
	<div class="msw-ssa msq-ssa-<%= results[0].wind.direction %>"></div>
	<a href="http://magicseaweed.com" target="_blank"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>
</body>
</html>