<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../jquery/dist/jquery.js"></script>
	<script src="../javascripts/main.js"></script>
	<link rel="stylesheet" type="text/css" href="../semantic-ui/dist/semantic.min.css">
	<script src="../semantic-ui/dist/semantic.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/icons.css">
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<!-- <div class="pano"></div> -->
	<div class="container1">
		<div class="header">
			<h1>Surf Forecast for <%=spot[0].name%> </h1>
		</div>
		<div class="side2">
			<h3>Charts</h3>
			<img id="chart1" class="chart" src="<%=results[0].charts.swell %>">
			<img id="chart2" class="chart" src="<%=results[0].charts.wind %>">
			<img id="chart2" class="chart" src="<%=results[0].charts.period %>">
			<img id="chart2" class="chart" src="<%=results[0].charts.pressure %>">
			<div class="chartModal ui large modal">
				<div class="ui fluid image content">
					<div class="charts-container">
						<h2>Swell Chart</h2>
						<img src="<%=results[0].charts.swell %>">
						<h2>Wind Chart</h2>
						<img  src="<%=results[0].charts.wind %>">
						<h2>Swell Period Chart</h2>
						<img  src="<%=results[0].charts.period %>">
						<h2>Pressure Chart</h2>
						<img  src="<%=results[0].charts.pressure %>">
					</div>
				</div>
			</div>
			<div class="imagesShow">
				<h3>Location Photos</h3>
				<div id="pic" class="ui medium images photos ">
					<a href="<%=spot[0].img%>" data-featherlight="image"><img src="<%=spot[0].img%>"></a>
					<a href="<%=spot[0].img2%>" data-featherlight="image"><img src="<%=spot[0].img2%>"></a>
					<a href="<%=spot[0].img3%>" data-featherlight="image"><img src="<%=spot[0].img3%>"></a>
					<a href="<%=spot[0].img4%>" data-featherlight="image"><img src="<%=spot[0].img4%>"></a>
					<a href="<%=spot[0].img5%>" data-featherlight="image"><img src="<%=spot[0].img5%>"></a>
					<a href="<%=spot[0].img6%>" data-featherlight="image"><img src="<%=spot[0].img6%>"></a>
				</div>
			</div>
		</div>
		<div class="contentSplash">
			<div class="ajax1">
				<div class="ui huge star rating"></div>
				<h3>Wave Height</h3>
				<h2><%= results[0].swell.minBreakingHeight %>-<%= results[0].swell.maxBreakingHeight %>ft</h2>
				<h3>Local Weather</h3>
				<div class="msw-sw msw-sw-<%= results[0].condition.weather %>"></div>
				<h3>Local Swell Direction</h3>
				<h4><%= results[0].swell.components.combined.direction %>&deg</h4>
				<div class="msw-swa msw-swa-<%= swellDirection %>"></div>
				<h3>Local Wind Direction</h3>
				<h4><%= results[0].wind.compassDirection %></h4>
				<div class="msw-ssa msq-ssa-<%= results[0].wind.direction %>"></div>
				<div class="logo">
					<a href="http://magicseaweed.com" target="_blank"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>
				</div>
			</div>
		</div>
		<div class="spotOverview">
			<div class="overviewText">
				<h3>Spot Overview</h3>
				<p><%=spot[0].Description%></p>
			</div>
			<div class="comments-text">
				<h3>Comments</h3>
				<li> <%= spot[0].comments %> </li>
				<p></p>
			</div>
		</div>
		<textarea class="comments" cols="50" rows="5" placeholder="Leave a comment..."></textarea>
	</div>

	


<script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>